#layout {
  min-height: 100vh;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
}

#content {
  margin: 6rem 0 0 0; 
  padding: 0 0 0 4rem;
  width: 100vw;

  
  z-index: 1;
  transition: margin-left 1s ease; 
}


/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  #container {
  }

  #body { 
  }
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  #body { 
  }
  #content {
    padding: 5rem 0 0 4rem;
  }

}