#container {
  width: 300vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.iframeContainer {
  width: 98vw;
  height: 15rem;
  margin: 5rem 1vw;
  background-color: rgb(255,255,255,0.6); 
}

.iframe {
  border: none;
  width: 98vw;
  height: 15rem;
}


@media (min-width: 600px) and (max-width: 1199px) {
  .iframeContainer{
    width: 80vw;
    height: 30rem;
  }
  .iframe {
    width: 80vw;
    height: 30rem;
  }
}


@media (min-width: 1200px) {
  .iframeContainer{
    width: 70vw;
    height: 50rem;
  }
  .iframe{
    width: 70vw;
    height: 50rem;
  }
}