.mini-map {
  position: absolute;
  width: 60%;
  height: 40vh;
  
  top: 100%;
  right: 0;
  z-index: 10000;
  background-color: rgba(255,255,255,0.4);
}

.mini-map-section {
  background-color: #dedede;
  border: 1px solid black;
  position: absolute;
}

#viewPort-border {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 1px solid black; 
  background-color: rgb(255,255,255,0);
  pointer-events: none;
}