
.screenHeader-App {
  display: block;
  font-size: 1rem;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  font-stretch: expanded;
  font-weight: bold;
  padding: 1rem;
  width: 40vw;
  height: 100%;
  margin: 1rem auto;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .screenHeader-App {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .screenHeader-App {
    font-size: 2rem;
  }
}