.container {
  width: 100vw;
  padding: 7rem 10%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 1rem;
  overflow: auto;
}

#description {
}

#imgsContainer {
  height: 60vh;
}
.imgs {
  width: 100%;
  object-fit: contain;
}




@media (min-width: 600px) and (max-width: 1199px) {
  .iframeContainer{
    width: 80vw;
    height: 30rem;
  }
  
}


@media (min-width: 1200px) {
  .iframeContainer{
    width: 50rem;
    height: 40rem;
  }
  
}