.sideBar {
  width: 5rem;
  height: 90vh;
  position: absolute;

  left: 0;
  top: 100%;
  
  
  display: flex;
  flex-flow: column;
  gap: 5rem;
  align-items: center;
  justify-content: space-around;
  
  backdrop-filter: blur(12px);
  border: solid 1px black;
  z-index: 1000;  
  padding: 0.2rem;
  
  
  transition: transform 1s ease;
}



#randomLines {
  top: 0;
  z-index: -100;
}
#logo {
  
  width: 4rem;
  margin: 1.45rem 0.45rem;

}

#logo:hover {
  background-color: rgb(167, 119, 217);
}

#topContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 147, 214);
  z-index: 1000;
}

#navBackClick {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 0;
}

#mapBackClick {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#showNavButton {
  position: absolute;
  padding: 0.1rem 2rem;
  right: 50%;
  top: 50%;
  transform: translate( 50%, -50% );
  width: auto;
  color: black;
  z-index: 1000;
  cursor: pointer;
}

#showNavButton:hover {
  background-color: rgba(255, 255, 255, 0.725);

}

.navLink {
  text-decoration: none; 
  font-size: 0.8rem;
  max-width: 5rem;
  font-weight: bold;
  word-wrap: break-word;
  font-stretch: expanded;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  padding: 0.1rem;
}

.navLinkActive {
  color: rgb(255, 40, 25);
  text-decoration: none;
  background-color: rgb(255, 177, 177);

}

#breadCrumbs {
  position: absolute;
  width: auto;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  list-style: none;
  display: flex;
  flex-flow: row;
}

#closeButton {
  position: absolute;
  top: 1%;
  right: 5%;
  border-radius: 30%;
  padding: 0.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  border: solid 1px black;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.breadcrumbLink {
  margin: 0;
  display: inline;
  text-decoration: none;
  color: rgb(101, 64, 140);
}

.bcBlock{
  color: black;
  padding: 0.1rem;
}

.bcBlock:hover {
  background-color: rgb(215, 97, 255); 
}

#showMapButton {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  font-size: 0.6rem;
  margin: auto 0;
  z-index: 1000;
  cursor: pointer;
}

#showMapButton:hover {
  border: solid 1px black;
}

.navLink:hover {
  color: rgb(62, 163, 128);
  background-color: rgb(240, 220, 250);
}

/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  .sideBar {
    width: 10rem;
  }

  #topContainer {
    height: 2rem;
  }
  #logo {
    width: 4rem;
    margin-top: 2rem;
  }


  #breadCrumbs {
    font-size: 1.3rem;
  }
  .navLink {
    font-size: 1.3rem;
    max-width: 10rem;
  }
  #showMapButton {
    font-size: 1.3rem;
  }

  #showNavButton {
    font-size: 1.3rem;
  }
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  .sideBar {
    width: 10rem;
  }

  #topContainer {
    height: 2rem;
  }

  #logo {
    width: 4rem;
    margin-top: 2rem;
  }

  .navLink {
    font-size: 1.3rem;
    max-width: 10rem;
  }

  #breadCrumbs {
    font-size: 1.3rem;
  }

  #showMapButton {
    font-size: 1.3rem;
  }

  #showNavButton {
    font-size: 1.3rem;
  }
  
}